
.chatbox{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 400px;
    overflow: scroll;
    overflow-x: hidden;
    border: solid grey;
    border-radius: 5px;
    border-width: 2px;
    margin-bottom: 5px;
    text-align: left;
}

.chatroom{
    position: absolute;
    top: 60%;
}

.pokertable{
    max-width: 70%;
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.text-input{
    width: 280px;
    background-color: wheat;
    border-color: grey !important;
}

.message-title{
    background-color: wheat;
    border-radius: 10px;
    border: 2px solid grey;
}

.message{
    margin-left: 5px;
}

.handback{
    cursor: pointer;
    max-width: 150px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    max-height: 200px;
    max-width: 150px;
    margin: 0;
}

.hand {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.leaveroom{
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    max-width: 200px;
    transform: translate(-50%, -50%);
}